<h2>แก้ไขข้อมูล <%= @user.username -%></h2>
 
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <dl>
    <%= render :partial => "form", :object => f %>
    <dd><%= f.submit "แก้ไข", :class => "button" -%>&nbsp;&nbsp;<%= link_to 'ยกเลิก', user_path %></dd>
  </dl>
<% end %>